<%= link_to "<<< Вернуться", :back, class: "btn btn-large btn-primary enabled"%>
<h2>Создание нового студента</h2>
<%= form_for :student , url: students_path do |f| %>
  <% if @student.errors.any? %>
  <div id="error_explanation" class="error_explanation">
    <h2>Сообщение: сохранение не удалось из-за <%= @student.errors.count %> ошибки:</h2>
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<p>
    Фамилия:<br>
    <%= f.text_field :surname %>
  </p>
  <p>
    Имя:<br>
    <%= f.text_field :firstname %>
  </p>
 <p>
  Отчество:<br>
  <%= f.text_field :secondname %>
</p>
  <p>
    Коментарии:<br>
    <%= f.text_area :text %>
  </p>

       <div class="form-actions">
    <button type="submit" class="btn btn-success">Сохранить</button>
    <button type="reset" class="btn">Отменить</button>
    </div>
 
<% end %>



