<h1> <%= @student.surname %> <%=@student.firstname %> <%= @student.secondname %></h1>

<p>
  <strong>Примечание:</strong>
  <%= @student.text %>
</p>


<h2>Справки</h2>
<table class="table table-striped">
    <tr>

        <th>№ справки</th>
        <th>Кем выдан</th>
        <th>Дата выдачи </th>
        <th>Начало выплат </th>
        <th>Конец выплат </th>
        <th>Дата окончания </th>
    </tr>

    <% @student.certificats.each do |certificat| %>
        <tr>

        <td><%= link_to " #{certificat.number}", edit_certificat_path(certificat) %></td>
        <td><%= certificat.who %></td>
        <td><%=l certificat.when %></td>
        <td><% if certificat.month_start<10%>0<%end%><%= certificat.month_start %>.<%= certificat.year_start %></td>
        <td><% if certificat.month_finish<10%>0<%end%><%= certificat.month_finish %>.<%= certificat.year_finish %></td>
        <td><%=l certificat.date_finish %></td>

        <% if can? :manager,Certificat %>
            <td>
                <%= link_to 'Show', certificat %>
                <%= link_to 'Edit', edit_certificat_path(certificat) %>
                <%= link_to 'Destroy', certificat_path(certificat), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить?' } %>
            </td>
        <% end %>
        </tr>
    <% end %>
</table>



<h2>Группы</h2>
<table class="table table-striped">
    <tr>
        <th>Название</th>
        <th>Курс</th>
        <th>Семестр    </th>
        <th>Учебный год</th>
        <th>Факультет</th>

    </tr>


    <% @student.groups.sort_by{|word| word.kurs }.each do |group| %>
        <tr>
            <td><%=link_to "#{group.name}", group %></td>
            <td><%= group.kurs %></td>
            <td><%= group.semester %></td>
            <td><%= group.year %></td>
            <td><%= group.faculty.short_name %></td>

            <% if can? :manager,Group %>
                <td>
                    <%= link_to 'Show', group %>
                    <%= link_to 'Edit', edit_group_path(group) %>
                    <%= link_to 'Destroy', group_path(group), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить?' } %>
                </td>
            <% end %>
        </tr>
    <% end %>
</table>

<h2>Выплаты по месяцам</h2>
<table class="table table-striped">
    <tr>
        <th>Дата выплат</th>
        <th>Соц. </th>
        <th>Акад. </th>
        <th>уч. д-ть</th>
        <th>общ. д-ть</th>
        <th>нид</th>
        <th>культ. д-ть</th>
        <th>спорт. д-ть</th>
        <th>Тип</th>
        <th>Доплата</th>
        <th>Всего</th>

    </tr>

    <% @student.pay_to_month_students.sort_by { |q| Date.new(q.year,q.month,1)}.reverse.each do |pay_to_month_student| %>
        <tr>
            <td><%= pay_to_month_student.month %>.<%= pay_to_month_student.year %></td>
            <td><%= pay_to_month_student.social %></td>
            <td><%= pay_to_month_student.academic %></td>
            <td><%= pay_to_month_student.study %></td>
            <td><%= pay_to_month_student.public %></td>
            <td><%= pay_to_month_student.scientific %></td>
            <td><%= pay_to_month_student.cultural %></td>
            <td><%= pay_to_month_student.sports %></td>

            <td><%=PayToMonthStudent::TYPE_PAY_SHORT[pay_to_month_student.type_pay]%></td>
            <td><%= pay_to_month_student.surcharge %></td>
            <td><%=pay_to_month_student.social.to_i+pay_to_month_student.academic.to_i+pay_to_month_student.study.to_i+pay_to_month_student.public.to_i+pay_to_month_student.scientific.to_i+pay_to_month_student.cultural.to_i+pay_to_month_student.sports.to_i+pay_to_month_student.surcharge.to_i %></td>

            <% if can? :manager,PayToMonthStudent %>
                <td>
                  <%= link_to 'Show', pay_to_month_student %>
                  <%= link_to 'Edit', edit_pay_to_month_student_path(pay_to_month_student) %>
                  <%= link_to 'Destroy', pay_to_month_student_path(pay_to_month_student), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить?' } %>
                </td>
             <% end %>
        </tr>
    <% end %>
</table>