<h1>Факультеты</h1>
<%= link_to 'Новый факультет', new_faculty_path %> 


<table class="table table-striped">
  <tr>
      <th>Имя</th>
    <th></th>
    <th>Old_id</th>
  </tr>
 
  <% @faculties.sort_by {|word| word.name}.each do |faculty| %>
    <tr>
		<td><%= faculty.name %></td>
          <td><%= faculty.short_name %></td>
          <td><%= faculty.old_id %></td>
      

     
      <td><%= link_to 'Show', faculty %></td>
	  <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
	      <td><%= link_to 'Destroy', faculty_path(faculty),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>



  <p>
  <a href="/" class="btn btn-large btn-primary enabled">На первую страницу</a>
  </p>
