<% provide(:title, 'Пользователи') %>
<h1>Пользователи</h1>

<p>
<%= link_to 'Новый пользователь', signup_path, class: 'btn btn-large btn-success enabled' %>
</p>

<table class="table table-hover">
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Логин</th>
    <th>Телефон</th>
    <th>Факультет</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td><%=user.surname%></td>
        <td><%=user.firstname%></td>
        <td><%=user.secondname%></td>
        <td><%=user.login%></td>
        <td><%=user.tel%></td>
        <td><%=user.faculty.short_name%></td>
        <td><%=user.role.name%></td>
        <% if can? :manager, :all %>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user_path(user),
                            method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
</table>