
<h1>Регистрация нового пользователя</h1>


<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <p>
      Фамилия<br>
      <%= f.text_field :surname %><br>
    </p>

    <p>
      Имя<br>
      <%= f.text_field :firstname %><br>
    </p>

    <p>
      Отчество<br>
      <%= f.text_field :secondname %><br>
    </p>

    <p>
      Логин<br>
      <%= f.text_field :login %><br>
    </p>

    <p>
      IP-Телефон<br>
      <%= f.telephone_field :tel %><br>
    </p>

    <p>
      Институт<br>
      <%= select("user", "faculty_id", Faculty.all.collect {|p| [ p.short_name, p.id ] }, { include_blank: true})%><br>
    </p>

    <p>
      Роль<br>
      <%= select("user", "role_id", Role.all.collect {|p| [ p.name, p.id ] }, { include_blank: true})%><br>
    </p>

    <div class="form-actions">
      <button type="submit" class="btn btn-success">Сохранить</button>
      <button type="reset" class="btn">Отменить</button>
    </div>
<% end %>