<h2>Создание нового приказа</h2>

<%= form_for :order , url: order_path(@order), method: :patch do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "ошибка") %> prohibited
            this order from being saved:</h2>
            <ul>
                <% @order.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        Номер<br>
        <%= f.text_field :number %>
    </p>
    <p>
        Дата<br>
        <%= date_select :order, :date%>
    </p>

    <%if @order.up.nil? or @order.up.empty?%>
        <%if @order.type_order==0 or @order.type_order==3%>
            <p>
                Шаблон<br>
                <%= f.text_area :up, value: "\\vspace{0.5cm plus 1mm minus 1mm} \r\n На основании Положения «О порядке назначения и выплаты стипендий и оказания других форм материальной поддержки обучающихся ФГБОУ ВПО «МГИУ», утв. приказом ректора от 19.11.2012 № 356; решения Ученого совета ФГБОУ ВПО «МГИУ» от 28.08.2014 (протокол № 1), решение центральной стипендиальной комиссии ФГБОУ ВПО «МГИУ» от 19.09.2014 (протокол № 1) и решений стипендиальной комиссии #{@order.faculty.name} от dd.mm.yyyy (протоколы № n и № n)\r\n\r\n\\vspace{0.5cm plus 1mm minus 1mm}\r\n  ПРИКАЗЫВАЮ:\r\n\r\nНазначить государственную стипендию следующим студентам #{@order.faculty.short_name} на период с  #{l @order.pay_category_to_semester.date_start, format: :default} по #{l @order.pay_category_to_semester.date_finish, format: :default} ежемесячно\r\n", style: "width: 670px; height: 150px;" %>
            </p>
        <%end%>
        <%if @order.type_order==1 or @order.type_order==4%>
            <p>
                Шаблон<br>
                <%= f.text_area :up, value: "\\centerline{\\textbf{ПОВЕСТКА ДНЯ:}}\r\nНазначение государственной академической стипендии студентам #{@order.faculty.short_name}.\r\n\r\n\\vspace{0.7cm}\r\n\\centerline{\\textbf{СЛУШАЛИ:}}\r\n По вопросу повестки дня директора #{@order.faculty.short_name} #{Order::FACULTY0[@order.faculty.id]}.\r\n\r\n\\vspace{0.7cm}\r\n\\centerline{\\textbf{РЕШИЛИ:}}\r\nНа основании Положения «О порядке назначения и выплаты стипендий и оказания других форм материальной поддержки обучающихся ФГБОУ ВПО «МГИУ» утв. приказом ректора от 19.11.2012 № 356.\r\n \r\nНазначить государственную академическую стипендию следующим студентам #{@order.faculty.short_name} на период с #{l @order.pay_category_to_semester.date_start, format: :default} по #{l @order.pay_category_to_semester.date_finish, format: :default} ежемесячно", style: "width: 670px; height: 150px;" %>
            </p>
        <%end%>
        <%if @order.type_order==2 or @order.type_order==5%>
            <p>
              Шаблон<br>
                <%= f.text_area :up, value: "\\centerline{\\textbf{ПОВЕСТКА ДНЯ:}}\r\nНазначение государственной социальной стипендии студентам #{@order.faculty.short_name}.\r\n\r\n\\vspace{0.7cm}\r\n\\centerline{\\textbf{СЛУШАЛИ:}}\r\n По вопросу повестки дня директора #{@order.faculty.short_name} #{Order::FACULTY0[@order.faculty.id]}.\r\n\r\n\\vspace{0.7cm}\r\n\\centerline{\\textbf{РЕШИЛИ:}}\r\nНа основании Положения «О порядке назначения и выплаты стипендий и оказания других форм материальной поддержки обучающихся ФГБОУ ВПО «МГИУ» утв. приказом ректора от 19.11.2012 № 356.\r\n \r\nНазначить государственную социальную стипендию следующим студентам #{@order.faculty.short_name}", style: "width: 670px; height: 150px;" %>
            </p>
        <%end%>
    <%else%>
        <p>
            Шаблон<br>
            <%= f.text_area :up, style: "width: 670px; height: 150px;" %>
        </p>
    <%end%>
    <p>
        Дополнительные пункты:<br>
        <%if @order.bottom.nil? or @order.bottom.empty?%>
            <%string=""%>
            <%if @order.type_order==0%>
                <%n=2%>
                <%pay=StudentGroup.joins([{:student=>:pay_to_month_students},:group]).where("pay_to_month_students.month = ? AND pay_to_month_students.year = ? AND pay_to_month_students.surcharge != ? AND groups.year = ? AND groups.semester = ? AND groups.faculty_id =?",@order.pay_category_to_semester.date_start.month, @order.pay_category_to_semester.date_start.year,0,@order.year, @order.semester,@order.faculty_id)%>
                <%pay.each do |pay_to_month_student|%>
                    <%string<<"#{n}. "%>
                    <%n+=1%>
                    <%string<<"Назначить дополнительную академическую стипендию на период "%>
                    <%string<<"с  #{l @order.pay_category_to_semester.date_start, format: :default} по #{l @order.pay_category_to_semester.date_finish, format: :default} "%>
                    <%string<<"студенту группы #{pay_to_month_student.group.name} "%>
                    <%if pay_to_month_student.student.surname_dp.nil? or pay_to_month_student.student.surname_dp.empty?%>
                       <%string<<"#{pay_to_month_student.student.surname}(добавьте дательный падеж) "%>
                    <%else%>
                      <%string<<"#{pay_to_month_student.student.surname_dp} "%>
                    <%end%>
                    <%string<<"#{pay_to_month_student.student.firstname[0]}. "%>
                    <%string<<"#{pay_to_month_student.student.secondname[0]}. "%>
                    <%string<<"в размере #{pay_to_month_student.student.pay_to_month_students.where("pay_to_month_students.month = ? AND pay_to_month_students.year = ?",@order.pay_category_to_semester.date_start.month, @order.pay_category_to_semester.date_start.year)[0].surcharge} руб. ежемесячно "%>
                    <%string<<"(доплата до 6307 руб. с учетом социальной стипендии)."%>
                    <%string<<"\r\n\r\n"%>
                <%end%>
            <%end%>
            <%if @order.type_order==1 or @order.type_order==4 or @order.type_order==3 %>

            <%end%>
            <%if @order.type_order==2 or @order.type_order==5%>

            <%end%>
            <%= f.text_area :bottom,value:"#{string}", style: "width: 670px; height: 150px;" %>
        <%else%>
            <%= f.text_area :bottom, style: "width: 670px; height: 150px;" %>
        <%end%>
    </p>

    <p>
        Согласовано:<br>
    </p>
    <%if @order.signature.nil? or @order.signature.empty?%>
        <table>
            <%i=0%>
            <%if @order.type_order==0 or @order.type_order==3%>
                <%Order::LIST.map do |k, v|%>
                    <%= f.fields_for :list, index: i  do |b| %>
                        <tr>
                            <td><%= b.select(:id, options_for_select((0..10).collect {|p| p }, params[:list].nil? ? k : params[:list]), { include_blank: true},  :style => "width:50px")%></td>
                            <td><%=v[0] %> </td>
                            <td><%=v[1] %> </td>
                        </tr>
                    <% end %>
                    <% i+=1%>
                <%end%>
                <tr>
                    <%= f.fields_for :list, index: i  do |b| %>
                        <td><%= b.select(:id, options_for_select((0..10).collect {|p| p },  params[:list].nil? ? i : params[:list]), { include_blank: true},  :style => "width:50px")%></td>
                        <td><%=b.text_field :name1, value:"Директор #{@order.faculty.short_name}"%></td>
                        <td><%=b.text_field :name2, value:"#{Order::FACULTY[@order.faculty.id]}"%></td>
                    <% end %>
                </tr>
                <tr>
                    <% i+=1%>
                    <%= f.fields_for :list, index: i  do |b| %>
                        <td><%= b.select(:id, options_for_select((0..10).collect {|p| p },  params[:list]), { include_blank: true},  :style => "width:50px")%></td>
                        <td><%= b.text_field :name1 %></td>
                        <td><%= b.text_field :name2 %></td>
                    <% end %>
                </tr>
                <tr>
                    <% i+=1%>
                    <%= f.fields_for :list, index: i  do |b| %>
                        <td><%= b.select(:id, options_for_select((0..10).collect {|p| p },  params[:list]), { include_blank: true},  :style => "width:50px")%></td>
                        <td><%= b.text_field :name1 %></td>
                        <td><%= b.text_field :name2 %></td>
                    <% end %>
                </tr>
            <%end%>

            <%if @order.type_order==1 or @order.type_order==2 or @order.type_order==4 or @order.type_order==5%>
                <%Order::LIST2[@order.faculty.id].map do |k, v|%>
                    <%= f.fields_for :list, index: i  do |b| %>
                        <tr>
                            <td><%= b.select(:id, options_for_select((0..10).collect {|p| p }, params[:list].nil? ? k : params[:list]), { include_blank: true},  :style => "width:50px")%></td>
                            <td><%=v %> </td>

                        </tr>
                    <% end %>
                    <% i+=1%>
                <%end%>
                <tr>
                    <%= f.fields_for :list, index: i  do |b| %>
                        <td><%= b.select(:id, options_for_select((0..10).collect {|p| p },  params[:list]), { include_blank: true},  :style => "width:50px")%></td>
                        <td><%= b.text_field :name1 %></td>
                    <% end %>
                </tr>
                <tr>
                    <% i+=1%>
                    <%= f.fields_for :list, index: i  do |b| %>
                        <td><%= b.select(:id, options_for_select((0..10).collect {|p| p },  params[:list]), { include_blank: true},  :style => "width:50px")%></td>
                        <td><%= b.text_field :name1 %></td>
                    <% end %>
                </tr>
            <%end%>
        </table>
    <%else%>
        <p>
            <%= f.text_area :signature, style: "width: 670px; height: 150px;" %>
        </p>
    <% end %>
    <div class="form-actions">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <button type="reset" class="btn">Отменить</button>
    </div>
<% end %>



