<h2>Создание нового приказа</h2>

<%= form_for :order , url: orders_path do |f| %>
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "ошибка") %> prohibited
        this order from being saved:</h2>
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    <p>
            <%= f.hidden_field :pay_category_to_semester_id, value: params[:pay_category_to_semester_id] %>
    </p>
   <p>
    Номер<br>
    <%= f.text_field :number %>
  </p>
      Дата<br>
    <div class="row">
        <div class='col-sm-2'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <%= f.text_field :date, class: "form-control" %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    pickTime: false,
                    language: 'ru'
                });
            });
        </script>
    </div>
    <p>
      Тип<br>
      <%= select("order", "type_order", Order::TYPE_ORDER.map{|k, v| [v, k]}, { include_blank: true })%>
    </p>


    <div class="form-actions">
      <button type="submit" class="btn btn-success">Сохранить</button>
      <button type="reset" class="btn">Отменить</button>
    </div>
<% end %>



