<?xml version="1.0" encoding="UTF-8"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:c="urn:schemas-microsoft-com:office:component:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:x2="http://schemas.microsoft.com/office/excel/2003/xml"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <Colors>
    <Color>
      <Index>3</Index>
      <RGB>#c0c0c0</RGB>
    </Color>
    <Color>
      <Index>4</Index>
      <RGB>#ff0000</RGB>
    </Color>
  </Colors>
</OfficeDocumentSettings>
<ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>9000</WindowHeight>
  <WindowWidth>13860</WindowWidth>
  <WindowTopX>240</WindowTopX>
  <WindowTopY>75</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
</ExcelWorkbook>
<Styles>
  <Style ss:ID="Default" ss:Name="Default">
      <Font ss:FontName="Arial1"/>
  </Style>
  <Style ss:ID="Result" ss:Name="Result">
      <Font ss:Bold="1" ss:FontName="Arial1" ss:Italic="1" ss:Underline="Single"/>
  </Style>
  <Style ss:ID="Result2" ss:Name="Result2">
      <Font ss:Bold="1" ss:FontName="Arial1" ss:Italic="1" ss:Underline="Single"/>
      <NumberFormat ss:Format="Currency"/>
  </Style>
  <Style ss:ID="Heading" ss:Name="Heading">
      <Font ss:Bold="1" ss:FontName="Arial1" ss:Italic="1" ss:Size="16"/>
  </Style>
  <Style ss:ID="Heading1" ss:Name="Heading1">
      <Alignment ss:Rotate="90"/>
      <Font ss:Bold="1" ss:FontName="Arial1" ss:Italic="1" ss:Size="16"/>
  </Style>
  <Style ss:ID="co1"/>
  <Style ss:ID="co2"/>
  <Style ss:ID="co3"/>
  <Style ss:ID="co4"/>
  <Style ss:ID="co5"/>
  <Style ss:ID="co6"/>
  <Style ss:ID="co7"/>
  <Style ss:ID="co8"/>
  <Style ss:ID="co9"/>
  <Style ss:ID="ta1"/>
  <Style ss:ID="ce1">
      <Alignment ss:Horizontal="Center" ss:Indent="0"/>
  </Style>
  <Style ss:ID="ce2">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
  </Style>
  <Style ss:ID="ce3"/>
  <Style ss:ID="ce4">
      <Alignment ss:Horizontal="Center" ss:Indent="0"/>
  </Style>
  <Style ss:ID="ce5">
      <Alignment ss:Horizontal="Center" ss:Indent="0"/>
      <Font ss:FontName="Arial1" ss:Size="10"/>
      <NumberFormat ss:Format="General"/>
  </Style>
  <Style ss:ID="T1">
      <Font ss:FontName="Times New Roman" ss:Size="12" ss:VerticalAlign="Subscript"/>
  </Style>
</Styles>
<ss:Worksheet ss:Name="Лист1">
<Table ss:StyleID="ta1">
<Column ss:Width="19,5591"/>
<Column ss:Width="118,7433"/>
<Column ss:Width="46,6866"/>
<Column ss:Width="47,452"/>
<Column ss:Width="39,7134"/>
<Column ss:Width="41,2441"/>
<Column ss:Width="49,011"/>
<Column ss:Span="1" ss:Width="39,7134"/>
<Column ss:Index="10" ss:Width="63,7512"/>
<Column ss:Width="41,2441"/>
<Row ss:Height="14,1449">
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">N</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">Фамилия И.О.</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">Социал.</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">Академ.</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">Учебн.</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">Общ.</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">Науч-ис.</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">Культ.</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">Спорт.</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">Срок оконч.</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="String">Итого</Data>
  </Cell>
</Row>
<Row ss:Height="14,0882">
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">1</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">2</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">3</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">4</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">5</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">6</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">7</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">8</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">9</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">10</Data>
  </Cell>
  <Cell ss:StyleID="ce1">
    <Data ss:Type="Number">11</Data>
  </Cell>
</Row>
<%ss3=0%><%ss4=0%><%ss5=0%><%ss6=0%><%ss7=0%><%ss8=0%><%ss9=0%><%ss11=0%>
<%s3=0%><%s4=0%><%s5=0%><%s6=0%><%s7=0%><%s8=0%><%s9=0%><%s11=0%>
<% @order.faculty.groups.sort_by{ |q| [ q.kurs, q.name] }.each do |s| %>
<%qq=0%>
  <%@student_groups.each{ |student_group| qq=1 if s.id ==student_group.group_id}%>
    <%if qq==1%>
        <Row ss:Height="14,0882">
          <Cell ss:MergeAcross="10" ss:StyleID="ce2">
            <Data ss:Type="String">Группа <%=s.name%></Data>
          </Cell>
        </Row>
        <%n=0 %>
        <% @student_groups.sort_by{|q| q.student.surname}.each do |student_group| %>
            <% if s.id ==student_group.group_id%>
                <%n+=1 %>
                <%pay_to_month_student=student_group.student.pay_to_month_students[0]%>
                <Row ss:Height="14,0882">
                  <Cell>
                    <Data ss:Type="Number"><%=n %></Data>
                  </Cell>
                  <Cell>
                    <%if params[:var].to_i==1%>
                        <Data ss:Type="String"><%= student_group.student.surname%> <%= student_group.student.firstname%> <%= student_group.student.secondname%> </Data>
                    <%end%>
                    <%if params[:var].to_i==2%>
                        <Data ss:Type="String"><%= student_group.student.surname%> <%= student_group.student.firstname[0]%>.<%= student_group.student.secondname[0]%>.</Data>
                    <%end%>
                  </Cell>
                  <%unless pay_to_month_student.social.zero?%>
                      <Cell ss:Index="3" ss:StyleID="ce1">
                        <Data ss:Type="Number"><%= pay_to_month_student.social%></Data>
                      </Cell>
                  <%end%>
                  <%s3+=pay_to_month_student.social%>

                  <%unless pay_to_month_student.academic.zero?%>
                      <Cell ss:Index="4" ss:StyleID="ce1">
                        <Data ss:Type="Number"><%= pay_to_month_student.academic%></Data>
                      </Cell>
                  <%end%>
                  <%s4+=pay_to_month_student.academic%>

                  <%unless pay_to_month_student.study.zero?%>
                      <Cell ss:Index="5" ss:StyleID="ce1">
                        <Data ss:Type="Number"><%= pay_to_month_student.study %></Data>
                      </Cell>
                  <%end%>
                  <%s5+=pay_to_month_student.study%>

                  <%unless pay_to_month_student.public.zero?%>
                      <Cell ss:Index="6" ss:StyleID="ce1">
                        <Data ss:Type="Number"><%= pay_to_month_student.public%></Data>
                      </Cell>
                  <%end%>
                  <%s6+=pay_to_month_student.public%>

                  <%unless pay_to_month_student.scientific.zero?%>
                      <Cell ss:Index="7" ss:StyleID="ce1">
                        <Data ss:Type="Number"><%= pay_to_month_student.scientific%></Data>
                      </Cell>
                  <%end%>
                  <%s7+=pay_to_month_student.scientific%>

                  <%unless pay_to_month_student.cultural.zero?%>
                      <Cell ss:Index="8" ss:StyleID="ce1">
                        <Data ss:Type="Number"><%= pay_to_month_student.cultural%></Data>
                      </Cell>
                  <%end%>
                  <%s8+=pay_to_month_student.cultural%>

                  <%unless pay_to_month_student.sports.zero?%>
                      <Cell ss:Index="9" ss:StyleID="ce1">
                        <Data ss:Type="Number"><%= pay_to_month_student.sports%></Data>
                      </Cell>
                  <%end%>
                  <%s9+=pay_to_month_student.sports %>

                  <%if pay_to_month_student.social!=0%>
                    <%cer=student_group.student.certificats.sort_by{|x| x.date_finish}.last%>
                    <%unless cer.nil?%>
                        <Cell ss:Index="10" ss:StyleID="ce5">
                            <Data ss:Type="String"><%=(cer.date_finish < @order.pay_category_to_semester.date_finish) ?  cer.date_finish.strftime("%d.%m.%Y").to_s  :  @order.pay_category_to_semester.date_finish.strftime("%d.%m.%Y").to_s%></Data>
                        </Cell>
                     <%end%>
                   <%end%>
                  <Cell ss:Index="11" ss:StyleID="ce1">
                    <Data ss:Type="Number"><%=pay_to_month_student.sum+pay_to_month_student.social+ pay_to_month_student.academic%></Data>
                  </Cell>
                  <%s11+=pay_to_month_student.sum+pay_to_month_student.social+ pay_to_month_student.academic%>
               </Row>
            <%end%>
        <%end%>
        <Row ss:Height="14,0882">
          <Cell ss:Index="3" ss:StyleID="ce4">
            <Data ss:Type="Number"><%=s3%></Data>
          </Cell>
          <Cell ss:Index="4" ss:StyleID="ce4">
            <Data ss:Type="Number"><%=s4%></Data>
          </Cell>
          <Cell ss:Index="5" ss:StyleID="ce4">
            <Data ss:Type="Number"><%=s5%></Data>
          </Cell>
          <Cell ss:Index="6" ss:StyleID="ce4">
            <Data ss:Type="Number"><%=s6%></Data>
          </Cell>
          <Cell ss:Index="7" ss:StyleID="ce4">
            <Data ss:Type="Number"><%=s7%></Data>
          </Cell>
          <Cell ss:Index="8" ss:StyleID="ce4">
            <Data ss:Type="Number"><%=s8%></Data>
          </Cell>
          <Cell ss:Index="9" ss:StyleID="ce4">
            <Data ss:Type="Number"><%=s9%></Data>
          </Cell>
          <Cell ss:Index="11" ss:StyleID="ce4">
            <Data ss:Type="Number"><%=s11%></Data>
          </Cell>
        </Row>
        <%ss3+=s3%><%ss4+=s4%><%ss5+=s5%><%ss6+=s6%><%ss7+=s7%><%ss8+=s8%><%ss9+=s9%><%ss11+=s11%>
        <%s3=0%><%s4=0%><%s5=0%><%s6=0%><%s7=0%><%s8=0%><%s9=0%><%s11=0%>
    <%end%>
<%end%>

<Row ss:Height="14,0882">
  <Cell ss:Index="2"><Data ss:Type="String">Итого:</Data></Cell>
  <Cell ss:StyleID="ce1"><Data ss:Type="Number"><%=ss3%></Data></Cell>
  <Cell ss:StyleID="ce1"><Data ss:Type="Number"><%=ss4%></Data></Cell>
  <Cell ss:StyleID="ce1"><Data ss:Type="Number"><%=ss5%></Data></Cell>
  <Cell ss:StyleID="ce1"><Data ss:Type="Number"><%=ss6%></Data></Cell>
  <Cell ss:StyleID="ce1"><Data ss:Type="Number"><%=ss7%></Data></Cell>
  <Cell ss:StyleID="ce1"><Data ss:Type="Number"><%=ss8%></Data></Cell>
  <Cell ss:StyleID="ce1"><Data ss:Type="Number"><%=ss9%></Data></Cell>
  <Cell ss:Index="11" ss:StyleID="ce1"><Data ss:Type="Number"><%=ss11%></Data></Cell>
</Row>

</Table>
<x:WorksheetOptions/>
</ss:Worksheet>
</Workbook>
