<h2>Создание нового счета факультета</h2>
<%= form_for :account_to_semester , url: account_to_semesters_path do |f| %>
  <% if @account_to_semester.errors.any? %>
  <div id="error_explanation" class="error_explanation">
        <h2>Сообщение: сохранение не удалось из-за <%= @account_to_semester.errors.count %> ошибки:</h2>
    <ul>
    <% @account_to_semester.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
     <p>
   Факультет<br>
   	  <%= select("account_to_semester", "faculty_id", Faculty.all.collect {|p| [ p.name, p.id ] }, { include_blank: true })%>

  </p>
   <p>
    Тип счета<br>
    <%= select("account_to_semester", "type_account", AccountToSemester::TYPE_ACСOUNT.map{|k, v| [v, k]}, { include_blank: true })%>
    
  </p>
   <p>
    Сумма<br>
    <%= f.text_field :sum %>
  </p>


       <div class="form-actions">
    <button type="submit" class="btn btn-success">Сохранить</button>
    <button type="reset" class="btn">Отменить</button>
    </div>
 
<% end %>


  <p>  
  <a href="/account_to_semesters" class="btn btn-large btn-primary enabled">Вернутся к списку</a>
  </p>



