<%if can? :manager, :all%>
    <p>
      <strong>Факультет: </strong>
      <%= @account_to_semester.faculty.name %>
    </p>
<% end %>
<p>
  <strong>Тип счета: </strong>
   <%=AccountToSemester::TYPE_ACСOUNT[@account_to_semester.type_account]%>
</p>
<p>
  <strong>Сумма: </strong>
  <%= @account_to_semester.sum %>
</p>

<%if can? :manager, :all%>
    <p>
      <%=  link_to "Изменить счёт", { controller: "operations", action: "new", account_to_semester_id:@account_to_semester.id },  :class => "btn btn-success"  %>
    </p>
<% end %>

<h3>Операции по счёту:</h3>

<table  class="table table-striped">
    <thead>
        <tr>
            <th>Тип операции</th>
            <th>Сумма </th>
            <th>Дата операции</th>
            <th> Пользователь </th>
            <th> Коментарий </th>
        </tr>
    </thead>

    <tbody>
        <% @account_to_semester.operations.sort_by { |q| q.date_op}.reverse.each do |operation| %>
            <tr>
                <%if operation.type_op==0%>
                  <td>
                    <div class="label label-success">
                      <%= Operation::TYPE_OP[operation.type_op]%>
                    </div>
                  </td>
                <%elsif operation.type_op==1%>
                  <td>
                    <div class="label label-danger">
                      <%= Operation::TYPE_OP[operation.type_op]%>
                    </div>
                  </td>
                <%elsif operation.type_op==2%>
                  <td>
                    <div class="label label-primary">
                      <%= Operation::TYPE_OP[operation.type_op]%>
                    </div>
                  </td>
                <%else%>
                  <td>
                    <div class="label label-inverse">
                      <%= Operation::TYPE_OP[operation.type_op]%>
                    </div>
                  </td>
                <%end%>
                <td><%= operation.sum %></td>
                <td><%=l operation.date_op %></td>
                <td><%= operation.user.name %></td>
                <td><%= operation.text %></td>
            </tr>
        <% end %>
    </tbody>
</table>



