<h1>Расчет на семестр</h1>
<p>
  <%= link_to 'Новый расчет на семестр', {controller: "pay_category_to_semesters", action: "kalkul", faculty_id: current_user.faculty_id}, class: "btn btn-success"  %>
</p>


<table class="table table-striped">
  <tr>
    <% if  can? :manager, :all  %><th>Факультет</th><%end%>
    <th>Дата начала и окончания</th>

    <th>Социальная стипендия</th>
    <%StudentGroup::TYPE_STIPEND.each do |x,y|%>
        <%if x!=0%>
            <th>"<%=y%>"</th>
        <%end%>
    <%end%>

    <%StudentGroup::TYPE_ACADEM_STIPEND_MIN.each do |x,y|%>
            <%if x!=0%>
            <th><%=y%></th>
        <%end%>
    <%end%>

    <th></th>
    <th></th>
  </tr>

  <% @pay_category_to_semesters.sort_by { |q| [q.faculty_id, q.date_finish]}.reverse.each do |pay_category_to_semester| %>
      <tr>
        <% if  can? :manager, :all  %><td><%=pay_category_to_semester.faculty.short_name %></td><%end%>
        <td><%=link_to "#{pay_category_to_semester.date_start.strftime("%d.%m.%Y")}-#{pay_category_to_semester.date_finish.strftime("%d.%m.%Y")}", edit_pay_category_to_semester_path(pay_category_to_semester)%></td>

        <td><%= pay_category_to_semester.social1 %>/<%= pay_category_to_semester.social %></td>
        <td><%= pay_category_to_semester.four%></td>
        <td><%= pay_category_to_semester.five %></td>
        <td><%= pay_category_to_semester.first%></td>
        <td><%= pay_category_to_semester.study %></td>
        <td><%= pay_category_to_semester.public %></td>
        <td><%= pay_category_to_semester.scientific %></td>
        <td><%= pay_category_to_semester.cultural %></td>
        <td><%= pay_category_to_semester.sports %></td>

        <td>
          <%= link_to 'Распределить', {controller: "pay_to_month_students", action: "index", pay_category_to_semester: pay_category_to_semester.id}, class: "btn btn-primary"   %>
        </td>
        <td>
          <%= link_to 'Создать приказ', {controller: "orders", action: "new", pay_category_to_semester_id: pay_category_to_semester.id }, class: "btn btn-success"  %>
        </td>
        <td>
          <% if  can? :manager, :all  %>
              <%= link_to 'Show', pay_category_to_semester %>
              <%= link_to 'Edit', edit_pay_category_to_semester_path(pay_category_to_semester) %>
              <%= link_to 'Destroy', pay_category_to_semester_path(pay_category_to_semester), method: :delete, data: { confirm: 'Are you sure?' } %>
               <%= pay_category_to_semester.year%> <%=pay_category_to_semester.semester%>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

