<table class="table table-striped">
  <tr>
  <th>Факультет</th>
 <th>Дата начала</th>
 <th>Дата окончания</th>
 <th>Соц. </th>
 <th>Хор </th> 
 <th>Отл </th>
 <th>1курс </th>
 <th>уч. д-ть</th>
 <th>общ. д-ть</th>
 <th>нид</th>
 <th>культ. д-ть</th>
 <th>спорт. д-ть</th>
  
  </tr>
 
 
    <tr>
   <td><%=@pay_category_to_semester.faculty.name %></td>
	<td><%= @pay_category_to_semester.date_start.strftime("%d.%m.%Y") %></td>
    <td><%= @pay_category_to_semester.date_finish.strftime("%d.%m.%Y") %></td>

    <td><%= @pay_category_to_semester.social1 %>/<%= @pay_category_to_semester.social %></td>
	<td><%= @pay_category_to_semester.four%></td>
    <td><%= @pay_category_to_semester.five %></td>
    <td><%= @pay_category_to_semester.first %></td>
    <td><%= @pay_category_to_semester.study %></td>
    <td><%= @pay_category_to_semester.public %></td>
    <td><%= @pay_category_to_semester.scientific %></td>
    <td><%= @pay_category_to_semester.cultural %></td>
    <td><%= @pay_category_to_semester.sports %></td>

    </tr>

</table>

  <p>
<%= link_to 'Изменить счет факультета на семестр', edit_pay_category_to_semester_path(@pay_category_to_semester) %> |
<%= link_to 'Вернутся к списку',pay_category_to_semesters_path %>
  </p>


