<h2>Расчет стипендии</h2>
<p>
  <strong>Требуется распределить: </strong>
  <%= @sum[0] %>
</p>
<p>
  <strong>Кол-во людей на факультете, получающих стипендию:</strong>
  <%= @sum[1] %>
</p>
<%= form_tag(:action => 'stip2') do |f| %>
    <table  width="800">
        <tr>
            <th>Социальная </th>
            <th>"Хорошистов"</th>
            <th>"Отличников"</th>
            <th>Соц+Хор</th>
            <th>Соц+Отл</th>
            <th>сумма итог</th>
        </tr>
        <tr>
            <td><%= @category.social %> <%= text_field_tag(:social, params[:social].nil? ? @sum[2] : params[:social],  :style => "width:80px") %>
            + </td>
            <td><%= @category.four %> <%= text_field_tag(:four, params[:four].nil? ? @sum[2] : params[:four],  :style => "width:80px")%>
            + </td>
            <td><%= @category.five %> <%= text_field_tag(:five, params[:five].nil? ? @sum[2] : params[:five],  :style => "width:80px") %>
            + </td>
            <td><%= @category.soc_four %> <%= text_field_tag(:soc_four, params[:soc_four].nil? ? @sum[2] : params[:soc_four],   :style => "width:80px")%>
            + </td>
            <td><%= @category.soc_five %> <%= text_field_tag(:soc_five, params[:soc_five].nil? ? @sum[2] : params[:soc_five],   :style => "width:80px") %>
            =</td>
            <td><%=@sum[3]%></td>
        </tr>
    </table>


        <%=  hidden_field_tag(:study, params[:study]) %>
        <%=  hidden_field_tag(:public, params[:public])%>
        <%=  hidden_field_tag(:scientific, params[:scientific]) %>
        <%=  hidden_field_tag(:cultural, params[:cultural])%>
        <%=  hidden_field_tag(:sports, params[:sports]) %>

    <%=  hidden_field_tag(:social1, params[:social1]) %>
    <%=  hidden_field_tag(:first, params[:first]) %>

        <div class="form-actions">
        <button class="btn btn-large btn-info" type="submit" > Посчитать</button>
        <%=  link_to "Далее >>>", { controller: "pay_category_to_semesters", action: "new1", sports: params[:sports], cultural: params[:cultural],scientific: params[:scientific], public: params[:public], study: params[:study],five: params[:five],social: params[:social],four: params[:four],first: params[:first],social1: params[:social1],soc_four: params[:soc_four],soc_five: params[:soc_five]},  :class => "btn btn-primary"  %>
    </div>
<%end%>

<h3>Расчет стипендии по категории</h3>
<table  width="250">
  <tr>
    <td><strong>учебная:</strong></td>
    <td><%=params[:study]%></td>
  </tr>
  <tr>
    <td><strong>общественая:</strong></td>
    <td><%=params[:public]%></td>
  </tr>
  <tr>
    <td><strong>научно-иследовательская:</strong></td>
    <td><%=params[:scientific]%></td>
  </tr>
  <tr>
    <td><strong>культурная:</strong></td>
    <td><%=params[:cultural]%></td>
  </tr>
  <tr>
    <td><strong>спортивная:</strong></td>
    <td><%=params[:sports]%></td>
  </tr>
</table>


<table  width="250">
  <tr>
    <th><br></th>
  </tr>
  <tr>
    <td><strong>Социальная:</strong></td>
    <td><%=params[:social]%></td>
  </tr>
  <tr>
    <td><strong>Хорошист:</strong></td>
    <td><%=params[:four]%></td>
  </tr>
  <tr>
    <td><strong>Отличник:</strong></td>
    <td><%=params[:five]%></td>
  </tr>
  <tr>
    <th><br></th>
  </tr>
  <tr>
    <td><strong>Первый курс:</strong></td>
    <td><%=params[:first]%></td>
  </tr>
  <tr>
    <td><strong>Социальная:</strong></td>
    <td><%=params[:social1]%></td>
  </tr>
  <tr>
    <th><br>Доплата:</th>
  </tr>
  <tr>
    <td>Хорошист:</td>
    <td><%=params[:soc_four]%></td>
  </tr>
  <tr>
    <td>Отличник:</td>
    <td><%=params[:soc_five]%></td>
  </tr>
</table>