<h1>Расчет на семестр</h1>
<%= link_to 'Новый расчет на семестр', new_pay_to_month_student_path %> 



<table class="table table-striped">
  <tr>
  <th>ФИО студента </th>
  <th>Начало выплат</th>
 <th>Соц. </th>
 <th>Акад. </th>
 <th>уч. д-ть</th>
 <th>общ. д-ть</th>
 <th>нид</th>
 <th>культ. д-ть</th>
 <th>спорт. д-ть</th>
 <th>Тип</th>
  <th>Доплата</th>
  <th>Всего</th>
  </tr>
 
 
  <% @pay_to_month_students.each do |pay_to_month_student| %>
    <tr>
    <td><%= pay_to_month_student.student.surname%> <%= pay_to_month_student.student.firstname[0]%>. <%= pay_to_month_student.student.secondname[0]%>.</td>
    
    	<td><%= pay_to_month_student.month %>.<%= pay_to_month_student.year %></td>
    <td><%= pay_to_month_student.social %></td>
    <td><%= pay_to_month_student.academic %></td>
    <td><%= pay_to_month_student.study %></td>
    <td><%= pay_to_month_student.public %></td>
    <td><%= pay_to_month_student.scientific %></td>
    <td><%= pay_to_month_student.cultural %></td>
    <td><%= pay_to_month_student.sports %></td>

    <td><%=PayToMonthStudent::TYPE_PAY_SHORT[pay_to_month_student.type_pay]%></td>
<td><%= pay_to_month_student.surcharge %></td>
<td><%=pay_to_month_student.social.to_i+pay_to_month_student.academic.to_i+pay_to_month_student.study.to_i+pay_to_month_student.public.to_i+pay_to_month_student.scientific.to_i+pay_to_month_student.cultural.to_i+pay_to_month_student.sports.to_i+pay_to_month_student.surcharge.to_i %></td>

      <td><%= link_to 'Show', pay_to_month_student %></td>
	  <td><%= link_to 'Edit', edit_pay_to_month_student_path(pay_to_month_student) %></td>
	      <td><%= link_to 'Destroy', pay_to_month_student_path(pay_to_month_student),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

  <p>
<a href = "/">На первую страницу</a>
  </p>
