<h2>Изменение параметров справки</h2>
 
<%= form_for :certificat, url: certificat_path(@certificat), method: :patch do |f| %>
  <% if @certificat.errors.any? %>
  <div id="error_explanation" class="error_explanation">
    <h2>Сообщение: сохранение не удалось из-за <%= @certificat.errors.count %> ошибки:</h2>

    <ul>
    <% @certificat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
	<p>
	  Студент:<br>
	  <%=  "#{@certificat.student.surname} #{@certificat.student.firstname[0]}. #{@certificat.student.secondname[0]}."%>

    </p>
<p>
    № справки<br>
    <%= f.text_field :number %>
  </p>
 
  <p>
    Кем выдан<br>
    <%= f.text_field :who %>
  </p>
   <p>
    Дата выдачи<br>
    <%= date_select :certificat, :when %>
  </p>
    <p>
        Начало выплат:<br>
        <%#= f.text_field :month_start %>
        <%= select_month(Date.today, field_name: 'month_start', :prefix => 'certificat')%>
        <%#=f.text_field :year_start %>
        <%= select_year(Date.today, field_name: 'year_start', :prefix => 'certificat')%>
    </p>

    <p>
        Конец выплат:<br>
        <%#= f.text_field :month_finish %>
        <%= select_month(Date.today.next_year, field_name: 'month_finish', :prefix => 'certificat')%>
        <%#=f.text_field :year_finish %>
        <%= select_year(Date.today.next_year, field_name: 'year_finish', :prefix => 'certificat')%>
    </p>

<p>
Дата окончания <br>
  <%= date_select :certificat, :date_finish %>


</p> 
 
       <div class="form-actions">
    <button type="submit" class="btn btn-success">Сохранить</button>
    <button type="reset" class="btn">Отменить</button>
    </div>
<% end %>



  <p>  
  <a href="/certificats" class="btn btn-large btn-primary enabled">Вернутся к списку</a>
  </p>
  

