<h1>Операции по счету</h1>

<%if can? :creat, Operation%>
    <p>
        <a href="/operations/new" class="btn btn-large btn-success enabled">Новая операция</a>
    </p>
<%end%>
<table  class="table table-striped">
    <thead>
        <tr>
            <th>Счет</th>
            <th>Тип операции</th>
            <th>Сумма </th>
            <th>Дата операции</th>
            <th> Пользователь </th>
            <th> Коментарий </th>
        </tr>
    </thead>

    <tbody>
        <% @operations.sort_by { |q| q.date_op}.reverse.each do |operation| %>
            <tr>
                <td><%= AccountToSemester::TYPE_ACСOUNT[operation.account_to_semester.type_account]%>(<%= operation.account_to_semester.faculty.short_name%>)</td>
                <%if operation.type_op==0%>
                    <td>
                      <div class="label label-success">
                        <%= Operation::TYPE_OP[operation.type_op]%>
                      </div>
                    </td>
                <%elsif operation.type_op==1%>
                    <td>
                      <div class="label label-danger">
                        <%= Operation::TYPE_OP[operation.type_op]%>
                      </div>
                    </td>
                <%elsif operation.type_op==2%>
                    <td>
                      <div class="label label-primary">
                        <%= Operation::TYPE_OP[operation.type_op]%>
                      </div>
                    </td>
                <%else%>
                    <td>
                      <div class="label label-inverse">
                        <%= Operation::TYPE_OP[operation.type_op]%>
                      </div>
                    </td>
                <%end%>
                <td><%= operation.sum %></td>
                <td><%=l operation.date_op %></td>
                <td><%= operation.user.surname%> <%= operation.user.firstname[0]%>.<%= operation.user.secondname[0]%>.</td>
                <td><%= operation.text %></td>
                <%if can? :manager, Operation%>
                    <td><%= link_to 'Show', operation %></td>
                    <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
                    <td><%= link_to 'Destroy', operation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <%end%>
            </tr>
        <% end %>
    </tbody>
</table>





   
